img {
    object-fit: cover;
    height: 300px;
    width: 30%;
    float: left;
    margin: 1.66%;
}
body {
   color: #66BFBF;
}
p {
  font-family: 'Raleway', sans-serif;
  margin-left: 1.66%;
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 3px solid #f1f1f1;
  width: 30%;
  padding-bottom: 20px;
}
